<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="ISO-8859-1">
    <title>Catalog</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">BOB IN WONDERLAND</a>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
          rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet"/>
    </head>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}">Library Catalog</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" th:href="@{/reservation/active_reservation}">Reservations</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" th:href="@{/issued/user}">Issued Books</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" th:href="@{/issued/admin}">Issued Books</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link"
                   th:href="@{/reservation/active_reservation/all}">Reserved Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/update/{id}(id=${id})}">Edit Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/faq}">FAQ</a>
            </li>

            <div>
                <li clas="nav-item">
                    <form class="form-signin" method="get" th:action="@{/logout}">
                        <button sec:authorize="isAuthenticated()" class="btn btn-outline-secondary" type="submit">
                            Logout
                        </button>
                    </form>
                </li>
            </div>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <p></p>
            <div>
                <a class="btn btn-outline-secondary" href="user_account.html" th:href="@{/account}">Back to Home
                    Page</a>
            </div>
        </div>

    </div>
    <p></p>
    <div class="container">
        <div class="row">
            <a class="btn btn-outline-info" th:href="@{/reservation/update_list}">Update Reservation List
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h1> Active Reservations on <span class="bg-outline-secondary" th:text="${date}"></span></h1>
            <table class="table table-light table-hover table-sm table-bordered ">
                <thead class="table-info">
                <tr>
                    <th> Reservation Date</th>
                    <th> Author</th>
                    <th> Title</th>
                    <th> Reserved By</th>

                    <th> Reservation End Date</th>
                    <th> Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr
                        th:each="reservation: ${activeReservations}">
                    <td th:text="${reservation.reservationStartDate}"></td>
                    <td th:text="${reservation.book.author}"></td>
                    <td th:text="${reservation.book.title}"></td>
                    <td th:text="${reservation.user.getFullName}"></td>
                    <td th:text="${reservation.reservationEndDate}"></td>
                    <td>
                        <a th:href="@{/issued/{id}(id=${reservation.book.id})}"
                           class="btn btn-info btn-sm">Issue</a>
                        <a th:href="@{/reservation/delete/{id}(id=${reservation.id})}" class="btn btn-outline-danger btn-sm">
                            Delete</button>
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2>Expired Reservations</h2>
            <table class="table table-light table-hover table-sm table-bordered ">
                <thead class="table-info">
                <tr>
                    <th> Author</th>
                    <th> Title</th>
                    <th> User Id</th>
                    <th> User name</th>
                    <th> Reservation Start Date</th>
                    <th class="table-danger"> Reservation End Date</th>

                </tr>
                </thead>

                <tbody>
                <tr
                        th:each="reservation: ${expiredReservations}">
                    <td th:text="${reservation.book.author}"></td>
                    <td th:text="${reservation.book.title}"></td>
                    <td th:text="${reservation.user.id}"></td>
                    <td th:text="${reservation.user.getFullName}"></td>
                    <td th:text="${reservation.reservationStartDate}"></td>
                    <td th:text="${reservation.reservationEndDate}"></td>

                </tr>
                </tbody>
            </table>

        </div>


        <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="js/main.js"></script>


    </div>
</div>
</div>
</body>
</html>
