<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
<meta charset="ISO-8859-1">
<title>Catalog</title>
<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Catalog</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/books}">Library Catalog</a>
      </li>

		<li clas="nav-item">
			<form class="form-signin"  method="get" th:action="@{/logout}">
				<button sec:authorize="isAuthenticated()"  class = "btn btn-primary" type="submit">Logout</button>
			</form>
		</li>
    </ul>
  </div>
</nav>
	<div class = "container">
		<div class = "row">
			<h1>Available Books</h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a sec:authorize="hasRole('ROLE_ADMIN')" th:href = "@{/book/new}" class = "btn btn-primary btn-sm mb-3">Add New Book</a>
			</div>
		</div>
		
		<table class = "table table-sm table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> Author </th>
					<th> Title </th>
					<th> Year </th>
					<th> Page Count </th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "book: ${books}">
					<td th:text = "${book.author}"></td>
					<td th:text = "${book.title}"></td>
					<td th:text = "${book.year}"></td>
					<td th:text = "${book.pages}"></td>
					<td>
						<a sec:authorize="hasRole('ROLE_ADMIN')" th:href = "@{/books/edit/{id}(id = ${book.id})}"
						class = "btn btn-primary">Update</a>
						
						<a sec:authorize="hasRole('ROLE_ADMIN')" th:href = "@{/books/{id}(id = ${book.id})}"
						class = "btn btn-dark">Delete</a>

						<a sec:authorize="hasRole('ROLE_USER')" th:href = "@{/books/edit/{id}(id = ${book.id})}"
						   class = "btn btn-primary">Reserve - now goes to edit :) </a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</body>
</html>