<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOB</title>
</head>
<body>
<h1>MAIN PAGE</h1>
<h2>WELCOME!</h2>
<h2>List of books</h2>

<div class="container">
    <form class="form-signin" method="get" action="/login">
        <button  class="btn btn-primary btn-block" type="submit">LOGIN</button>
    </form>
</div>

<div class="container">
    <form class="form-signin" method="get" action="/register">
        <button  class="btn btn-primary btn-block" type="submit">SIGNUP</button>
    </form>
</div>

</body>
</html>