<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="ISO-8859-1">
    <title>Catalog</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">BOB IN WONDERLAND</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}">Library Catalog</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" th:href="@{/users}">Reservations</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" th:href="@{/issued/issued}">Issued Books</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" th:href="@{/users/update/{id}(id=${id})}" >Edit Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/faq}" >FAQ</a>
            </li>


            <div>
                <li clas="nav-item">
                    <form class="form-signin" method="get" th:action="@{/logout}">
                        <button sec:authorize="isAuthenticated()" class="btn btn-secondary" type="submit">Logout</button>
                    </form>
                </li>
            </div>
        </ul>
    </div>
</nav>
<!--	<nav class="navbar navbar-expand-md bg-dark navbar-dark">-->
<!--	&lt;!&ndash; Brand &ndash;&gt;-->
<!--	<a class="navbar-brand" href="#">Catalog</a>-->

<!--	&lt;!&ndash; Toggler/collapsibe Button &ndash;&gt;-->
<!--	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
<!--		<span class="navbar-toggler-icon"></span>-->
<!--	</button>-->

<!--		&lt;!&ndash; Navbar links &ndash;&gt;-->
<!--		<div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--			<ul class="navbar-nav">-->
<!--				<li class="nav-item">-->
<!--					<a class="nav-link" th:href="@{/books}">Library Catalog</a>-->
<!--				</li>-->
<!--				<li clas="nav-item">-->
<!--					<form class="form-signin"  method="get" th:action="@{/logout}">-->
<!--						<button sec:authorize="isAuthenticated()"  class = "btn btn-primary" type="submit">Logout</button>-->
<!--					</form>-->
<!--				</li>-->

<!--			</ul>-->
<!--		</div>-->
<!--	</nav>-->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <p></p>
            <div>
                <a class="btn btn-secondary" href="user_account.html" th:href="@{/account}">Back to Home Page</a>
            </div>
        </div>
        <div class="col-lg-10">

        </div>

    </div>

    <div class="container">
        <div class="row">
            <h1>Issued books</h1>
            <table class="table table-sm table-bordered">
                <thead class="table-dark">
                <tr>
                    <th> Date</th>
                    <th> User</th>
                    <th> Author</th>
                    <th> Title</th>
                    <th> Return Date</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr
                        th:each="issuedBook: ${issuedBooks}">
                    <td th:text="${issuedBook.issueStartDate}"></td>
                    <td th:text="${issuedBook.user}"></td>
                    <td th:text="${issuedBook.book.author}"></td>
                    <td th:text="${issuedBook.book.title}"></td>
                    <td th:text="${issuedBook.issueEndDate}"></td>
                    <td>

                        <a method = "post"
                           class="btn btn-warning">Return Book</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>




        <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="js/main.js"></script>



    </div>
</div>
</body>
</html>
