<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


    <head>
        <meta charset="ISO-8859-1">
        <title>Catalog</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
    </head>




    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
</head>
<body class="container">
<h1 th:text="${pageName}"></h1>

<div class="col-md-3"></div>
<div class="col-md-4">
    <form th:object="${bookSearch}" method="post" th:action="@{/books/search}">
        <div class="mb-3">
            <label for="exampleInputTitle" class="form-label">Search by title</label>
            <input type="text" class="form-control" th:field="*{title}" id="exampleInputTitle"
                   aria-describedby="nameHelp">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputAuthor" class="form-label">Search by author</label>
            <input type="text" class="form-control" th:field="*{author}" id="exampleInputAuthor"
                   aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text"></div>
            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label for="exampleInputYear" class="form-label">Search by year</label>
            <input type="text" th:field="*{year}"  class="form-control" id="exampleInputYear">
            <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="exampleInputPages" class="form-label">Search by pages</label>
            <input type="text" th:field="*{pages}"  class="form-control" id="exampleInputPages">
            <span th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}" class="text-danger"></span>
        </div>
        <button type="submit" th:href="@{/books/result}" class="btn btn-success"> Search </button>

    </form>
    <p></p>
    <a class="btn btn-warning" th:href="@{/books}" role="button">Back</a>


        </div>

</body>
</html>