<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>--b--</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/books">SELF-SHELF</a>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
    </head>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}">Library Catalog</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" th:href="@{/reservation/active_reservation}">Reservations</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" th:href="@{/users}">Users</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_USER')" class="nav-link" th:href="@{/issued/user}">Issued Books</a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" th:href="@{/issued/admin}">Issued Books</a>
            </li>
            <li class="nav-item">
                <a  sec:authorize="hasRole('ROLE_ADMIN')"class="nav-link" th:href="@{/reservation/active_reservation/all}">Reserved Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users/update/{id}(id=${id})}" >Edit Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books/faq}" >FAQ</a>
            </li>

            <div>
                <li clas="nav-item">
                    <form class="form-signin"  method="get" th:action="@{/logout}">
                        <button sec:authorize="isAuthenticated()"  class = "btn btn-outline-secondary" type="submit">Logout</button>
                    </form>
                </li>
            </div>
        </ul>
    </div>
</nav>
<p></p>
<div class = "container">
    <div class = "row">
        <h1 class="btn-outline-dark"> Welcome, <span th:text = "${fullName}"></span></h1>
    </div>


<!--    <img sec:authorize="hasRole('ROLE_USER')" src="https://media2.giphy.com/media/UQ84N6dIWObZWILqsE/giphy.gif?cid=ecf05e47yokw40o9mjgmg0903osvyix8nuhb0iu09w63rjbr&rid=giphy.gif&ct=g">-->
<!--    <img sec:authorize="hasRole('ROLE_ADMIN')" src="https://64.media.tumblr.com/8b5615d9aec31dce7f6efa9c3d662a0f/a6074468b010c213-db/s500x750/22da6d00f25de09033e75a5c927dfd46c6afab6d.gifv">-->

</div>
</div>
<!--<section class="info_section layout_padding">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-3">-->
<!--                <div class="info_menu">-->
<!--                    <h5>-->
<!--                        QUICK LINKS-->
<!--                    </h5>-->
<!--                    <ul class="navbar-nav  ">-->
<!--                        <li class="nav-item active">-->
<!--                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="login">Login</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3">-->
<!--                <div class="info_course">-->
<!--                    <h5>-->
<!--                        TOP RATED LIBRARY-->
<!--                    </h5>-->
<!--                    <p>-->
<!--                        Bob Library has achieved a lot of world prestigious rewards during last thousand years-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-md-5 offset-md-1">-->
<!--                <div class="info_news">-->
<!--                    <h5>-->
<!--                        FOR ANY QUERY, PLEASE WRITE TO US-->
<!--                    </h5>-->
<!--                    <div class="info_contact">-->
<!--                        <a href="">-->
<!--                            bob@wonderland.com-->
<!--                        </a>-->
<!--                        <a href="">-->
<!--                            Call : +777777777-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!-- end info section -->

<!-- footer section -->
<!--<footer class="container-fluid footer_section">-->
<!--    <p>-->
<!--        &copy; 2021 All Rights Reserved By-->
<!--        <a href="https://html.design/">Free Html Templates</a>-->
<!--    </p>-->
<!--</footer>-->

</body>
</html>
